.navbar {
    margin-bottom: 0px;
    border-radius: 0;
    background-color: #5E4485;
    color: #FFFFFF;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
    margin-bottom: 0px;
    color: #FFFFFF;
    background-color: #5E4485;
}

.navbar-inverse {
    margin-bottom: 0px !important;
}

.carousel-caption{
    top: 70%;
    transform: translateY(-50%);
    text-transform: uppercase;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.banner{
    height: auto !important;
    width: auto\9 !important;
}
.container{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.title-heading {
    font-weight: bold;
}

.picture
{
    transform: translateY(-50%);
}

@media (min-width: 400px) and (max-width:600px)
{
    .carousel-caption
    {
        display: none;
    }

    #icon
    {
        max-width: 150px;
    }
}

footer
{
    width: 100%;
    background-color: #5E4485;
    padding: 3%;
    color: #fff;
}

#myInput {
    width: 1260px;
    height: 46px;
}

.scenarios
{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    position: relative;
    text-align: left;
    color: white;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: xx-large;
}

.intro{}
.title
{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

}



#quiz
{
    color: black;
}

.grid{
    width: 600px;
    height:500px;
    margin: 0 auto;
    background-image: url("img/Trust2.jpeg");
    background-color: #fff;
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 2px solid #cbcbcb;
    box-shadow: 10px 15px 5px #cbcbcb;
}

.grid h1 {
    font-family: "Century Gothic";
    font-size: 60px;
    text-align: center;
    color: #ffffff;
    padding: 2px 0px;
    border-radius: 50px;
}

#score {
    color: #fff;
    text-align: center;
    font-size: 30px;
}

.grid #question {
    font-family: "Century Gothic";
    font-size: 25px;
    color: #fff;
}

.buttons {
    margin-top: 30px;
}

#btn0, #btn1, #btn2, #btn3 {
    background-color: #fff0f5;
    width: 185px;
    font-size: 20px;
    color: black;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    background-color: #5A6772;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}

#progress {
    color: #fff;
    font-size: 18px;
}