.navbar {
    margin-bottom: 0px;
    border-radius: 0;
    background-color: #5E4485;
    color: #FFFFFF;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
    margin-bottom: 0px;
    color: #FFFFFF;
    background-color: #5E4485;
}

.navbar-inverse {
    margin-bottom: 0px !important;
}

.carousel-caption{
    top: 70%;
    transform: translateY(-50%);
    text-transform: uppercase;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.banner{
    height: auto !important;
    width: auto\9 !important;
}
.container{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.title-heading {
    font-weight: bold;
}

.picture
{
    transform: translateY(-50%);
}

@media (min-width: 400px) and (max-width:600px)
{
    .carousel-caption
    {
        display: none;
    }

    #icon
    {
        max-width: 150px;
    }
}

footer
{
    width: 100%;
    background-color: #5E4485;
    padding: 3%;
    color: #fff;
}

#myInput {
    width: 1260px;
    height: 46px;
}

.scenarios
{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    position: relative;
    text-align: left;
    color: white;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: xx-large;
}

.intro{}
.title
{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

}

body,
#slider,
.wrap,
.slide-content {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.wrap {
    position: relative;
}

.slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide1 {
    background-image: url("img/Prisoner.jpg");
}
.slide2 {
    background-image: url("img/Prisoner2.jpg");
}
.slide3 {
    background-image: url("img/Prisoner3.jpg");
}

.slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slide-content span {
    font-size: 5rem;
    color: #fff;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    width: 0;
    height: 0;
    border-style: solid;
}

#arrow-left {
    border-width: 30px 40px 30px 0;
    border-color: transparent #fff transparent transparent;
    left: 0;
    margin-left: 30px;
}

#arrow-right {
    border-width: 30px 0 30px 40px;
    border-color: transparent transparent transparent #fff;
    right: 0;
    margin-right: 30px;
}

#quiz
{
    color: black;
    body: aquamarine;
}

.grid{
    width: 600px;
    height:500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 2px solid #cbcbcb;
    box-shadow: 10px 15px 5px #cbcbcb;
}

.grid h1 {
    font-family: "Century Gothic";
    background-color: lightseagreen;
    font-size: 60px;
    text-align: center;
    color: #ffffff;
    padding: 2px 0px;
    border-radius: 50px;
}

#score {
    color: #5A6772;
    text-align: center;
    font-size: 30px;
}

.grid #question {
    font-family: "Century Gothic";
    font-size: 30px;
    color: #5A6772;
}

.buttons {
    margin-top: 30px;
}

#btn0, #btn1, #btn2, #btn3 {
    background-color: lightseagreen;
    width: 185px;
    font-size: 20px;
    color: #fff;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    background-color: #5A6772;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}

#progress {
    color: #2b2b2b;
    font-size: 18px;
}