.navbar {
    margin-bottom: 0px;
    border-radius: 0;
    background-color: #5E4485;
    color: #FFFFFF;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
    margin-bottom: 0px;
    color: #FFFFFF;
    background-color: #5E4485;
}

.navbar-inverse {
    margin-bottom: 0px !important;
}

.carousel-caption{
    top: 70%;
    transform: translateY(-50%);
    text-transform: uppercase;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.banner{
    height: auto !important;
    width: auto\9 !important;
}
.container{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.title-heading {
    font-weight: bold;
}

.picture
{
    transform: translateY(-50%);
}

@media (min-width: 400px) and (max-width:600px)
{
    .carousel-caption
    {
        display: none;
    }

    #icon
    {
        max-width: 150px;
    }
}

footer
{
    width: 100%;
    background-color: #5E4485;
    padding: 3%;
    color: #fff;
}

#myInput {
    width: 1260px;
    height: 46px;
}