.navbar {
    margin-bottom: 0px;
    border-radius: 0;
    background-color: #5E4485;
    color: #FFFFFF;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
    margin-bottom: 0px;
    color: #FFFFFF;
    background-color: #5E4485;
}

.navbar-inverse {
    margin-bottom: 0px !important;
}

.carousel-caption{
    top: 70%;
    transform: translateY(-50%);
    text-transform: uppercase;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.banner{
    height: auto !important;
    width: auto\9 !important;
}
.container{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.title-heading {
    font-weight: bold;
}

.picture
{
    transform: translateY(-50%);
}

@media (min-width: 400px) and (max-width:600px)
{
    .carousel-caption
    {
        display: none;
    }

    #icon
    {
        max-width: 150px;
    }
}

footer
{
    width: 100%;
    background-color: #5E4485;
    padding: 3%;
    color: #fff;
}

h2
{
    font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.list
{
    font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    margin:0;
    padding:20px 0 0;
}

.list > li
{
    display:block;
    background-color: #eee;
    padding:10px;
    box-shadow: inset 0 1px 0 #fff;
}

.avatar
{
    max-width: 150px;
}

img
{
    max-width: 100%;
}

li > a
{
    font-size: 16px;
    margin:0 0 0.3rem;
    font-weight: normal;
    font-weight:bold;
    color:#111;
}

p
{
    margin:0;
}

input
{
    border:solid 1px #ccc;
    border-radius: 5px;
    padding:7px 14px;
    margin-bottom:10px
}

input:focus
{
    outline:none;
    border-color:#aaa;
}

.sort
{
    padding:8px 30px;
    border-radius: 6px;
    border:none;
    display:inline-block;
    color:#fff;
    text-decoration: none;
    background-color: #28a8e0;
    height:30px;
}

.sort:hover
{
    text-decoration: none;
    background-color:#1b8aba;
}

.sort:focus
{
    outline:none;
}

.sort:after
{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    content:"";
    position: relative;
    top:-10px;
    right:-5px;
}

.sort.asc:after
{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    content:"";
    position: relative;
    top:13px;
    right:-5px;
}

.sort.desc:after
{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    content:"";
    position: relative;
    top:-10px;
    right:-5px;
}